<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) 2026 Neil Colvin. MIT License; see ../TeslaPowerwallLibrary/LICENSE. -->
<RunSettings>
  <TestRunParameters>
    <Parameter name="EnableLiveTests" value="true" />
  </TestRunParameters>
</RunSettings>
